@import "tailwindcss";

body {
  background-color: #F2F2F7;
  color: #1C1C1E;
  -webkit-font-smoothing: antialiased;
  /* iPhone alt barı için güvenli alan */
  padding-bottom: env(safe-area-inset-bottom);
  /* Kaydırma hissiyatını iyileştirir */
  overflow-x: hidden;
  overscroll-behavior-y: contain;
}

/* Mobilde yazıların üzerine tıklandığında çıkan mavi gölgeyi siler */
* {
  -webkit-tap-highlight-color: transparent;
}